/* Global rules  */
* {
    box-sizing: border-box;

}

body {
     font-family: 'Work Sans', sans-serif;;
}

:root {
    --main-color : #10cab7;
}

html {
    scroll-behavior: smooth;
}

/* End of the global rules  */

.special-heading {
    color: #ebeced ;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    letter-spacing: -5px;
    margin: 0s;

}

.special-heading + p {
    text-align: center;
    margin: -130px 0px  0px;
    font-size: 15px;
    color: #777;
}
/* header styling */

.parents {
    background-color: #eee;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .link {
    position: relative;
}

.header .link .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .link:hover ul{
    display: block;
    z-index: 1;
}

.header .link .icon span {
    background-color: #333;
    margin-bottom: 5px;
}

.header .link .icon span:first-child {
    width: 100%;
    height: 2px;
}

.header .link .icon span:nth-child(2) {
    width: 60%;
    height: 2px;
    transition: 0.3s;

}

.header .link .icon span:last-child {
    width: 100%;
    height: 2px;

}

.header .link ul {
    list-style: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    display: none;
}

.header .link ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -17px;
}

.header .link ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    transition: 0.3s;
    color: #333;
}


.header .link ul li:hover a {
    padding-left: 25px;
    background-color: #ddd;
    color: var(--main-color);
}

/* .header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #333;
} */

/* End of header styling */

/* landing styling */

.landing {
    background-image: url(../images/pexels-pixabay-355747.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
  font-size: 19px; 
  line-height: 1.8; 
  width: 320px;
  max-width: 100%;
}

/* End of landing styling */

/* start of feature section styling */

.feature {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}

.feature .feat {
    padding: 20px;
    text-align: center;
}
.feature .feat i {
    color: var(--main-color);
}

.feature .feat h3 {
    font-weight: 800px;
}

.feature .feat p {
    padding-top: 20px;
    line-height: 1.8;
    color: #777;
}

/* end of feature section styling */

/* start of services section styling */

.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;

}

.services .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .col .srv {
    display: flex;
    padding-bottom: 40px;
}

.services .services-content .col .srv .text {
    flex: 1;
}

.services .services-content .col .srv .text h3 {
    margin: -12px 0 0;
}

.services .services-content .col .srv .text p {
    color: #777;
    font-weight: 500px;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    /* width: 300px;
    height: 300px; */
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 80px;
    height: calc(100% + 100px);
    background-color: #333;
    z-index: -1;
}

.services .services-content .image img {
    width: 270px;
    height: 300px;
}

@media (max-width: 1199px) {
    .services .services-content .image-col {
        display: none;
    }
}
/* end of services section styling */

/*  start of protfolio section  */
.protfolio {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.protfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-gap: 30px;
        padding-top: 100px;
        position: relative;
}

.protfolio-content .pro-col {
    background-color: white;
}

.protfolio-content .pro-col .protfolio-pic img {
        width: 100%;
}

.protfolio-content .pro-col .text {
    padding: 20px;
}

.protfolio-content .pro-col .text h3 {
    margin: 0;
}

.protfolio-content .pro-col .text p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* .button-one {
    position: absolute;
    left: 550px;
    padding: 10px 40px;
    margin-top: 10px;
} */

/*  end of protfolio section  */

/*  start of About section  */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .about-content {
        justify-content: center;
    }
}

.about-content  .about-pic {
    margin-top: 100px;
    position: relative;
}

.about .about-content  .about-pic::before {
    content: '';
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -20px;
    background-color: #ebeced;
    z-index: -1;

}

.about .about-content  .about-pic::after {
    content: '';
    width: 80px;
    height: 200px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    position: absolute;
    top: -50px;
    right: -100px;
    z-index: -1;
}

.about-content  .about-text .para-one {
    font-weight: bold;
    font-size: 15px;
    color: #333;
    line-height: 2;
    margin-bottom: 60px;
}

.about-content .about-text .para-two {
    font-size: 15px;
    line-height: 1.8;
    color: #777;

}

.about-content  .about-text {
    flex-basis: calc(100% - 500px);
    margin-top: 100px;
}

.about-content  hr {
    width: 310px;
    display: inline-block;
    border-color: var(--main-color);
}


@media (max-width: 992px) {
    .about-content  .about-pic {
        display: none;
    }
    
}
/*  end of About section  */

/*  start of contact section  */

 .contact {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
 }
.contact .info {
    text-align: center;

}

 .contact .info .label {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -3px;
    padding-top: 30px;
    color: #333;
 }

 @media (max-width: 424px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
 }

 .contact .info .link {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: var(--main-color);
 }

 .contact .info .social {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .contact .info .social p {
    font-size: 18px;
 }

 .contact .info .social i {
    padding-left: 10px;
 }

/*  end of contach section  */

/*  start of footer section  */

.footer {
    background-color: #777;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

@media (max-width: 424px) {
    .footer {
        font-size: 13px;
    }
 }

/*  end of footer section  */

















/* services on mobile */

@media (max-width: 767px) {
    .services .special-heading  {
        font-size: 60px;
    }
    .services .special-heading + p {
        margin: -80px 0px 0px;
        font-size: 12px;

    }
}


@media (max-width: 767px) {
    .services .services-content .col .srv{
        text-align: center;
        flex-direction: column;
    }
}






/* small screens  */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium screens  */


@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

